/* HEADER MODS */
.settingsImageContainer {
    width: 50px;
}

.settingsImageContainer > img {
    width: 100%;
}

.userData {
    background: #515151;
    min-height: 100vh;
}

.userHeader {
    height: 250px;
}

.imgStyle {
    height: 200px;
}

.userImage {
    bottom: 0;
    width: 150px;
    height: 150px;
    background-color: #95BF39;
}

.styledMain {
    min-height: calc(100% - 90px);
}

#usuario{
    width: 60px;
}

#configuracion{
    width: 40px;
}
.main-header img {
    margin: 18px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background: lightgrey;
}


@media screen and (min-width: 768px) {
    .gameWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}





