@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400;500&display=swap');


/* Estilo para el título */
h1, h2, h3, label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p, span {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

/* HEADER BORROSO */
#blurry-filter {
    width: 100%;
    height: 9rem;
    mask: linear-gradient(black 7rem, transparent);
    -webkit-mask: linear-gradient(black 7rem, transparent);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
    touch-action: none;
    background: #EEE;
}

/* ESTILOS GENERALES */
body {
    margin: 0;
    padding: 0;
    background: #EEE;
    /*background-image: url('https://png.pngtree.com/background/20230610/original/pngtree-city-illustration-background-vector-picture-image_3046717.jpg');
    background-size: cover;*/
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    cursor: default;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* HEADER */
header {
    width: 100%;
    height: 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */

}

header > div {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#titulo-principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Kumar One Outline", system-ui;
    font-size: 50px;
    text-align: center; /* Asegura que el texto esté centrado dentro de su contenedor */
    flex-grow: 1; /* Hace que el título ocupe el espacio disponible */
    margin: 0;
}

/* BOTON HOME */
#back {
    width: 100%;
}

#back .parent {
    line-height: 1em;
    color: #666;
}

.circle-arrow {
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.circle-arrow circle {
    transition: all 0.3s ease;
}

.circle-arrow path {
    transition: all 0.3s ease;
}

/* Estado por defecto */
.circle-arrow circle {
    fill: transparent;
    stroke: #333;
}

.circle-arrow path {
    stroke: #333;  /* La flecha es blanca */
}

/* Hover: colores invertidos */
.circle-arrow:hover circle, .circle-arrow:hover path {
    fill: #333;
    stroke: white; /* El borde del círculo se vuelve gris */
}
.circle-arrow:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);  /* Añade una sombra al hacer hover */
}

/* CONTENIDO */
main {
    padding-top: 80px; /* Espacio suficiente para no solapar el header fijo */
}

/* DIVISION DE CUADRADOS GRID */
.perfil-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, auto);
    gap: 10px; /* Espaciado entre los elementos */
    width: 100%;
    max-width: 800px;
    margin: 0 0 60px; /* Centrar horizontalmente */
}

.perfil-rectangulo {
    grid-row: span 2; /* Ocupa dos filas */
    grid-column: 1; /* En la primera columna */
    background-color: #DDEEFF; /* Color de fondo */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 2rem 2rem;

    h1 {
        margin: 15px;
    }
}

.amigos-rectangulo {
    min-height: 150px;
    grid-row: 1; /* Primera fila */
    grid-column: 2; /* Segunda columna */
    background-color: #CCEEDD;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 2rem 2rem;

    h1 {
        margin: 15px;
    }
}

.partida-rectangulo {
    grid-row: 2; /* Segunda fila */
    grid-column: 2; /* Segunda columna */
    background-color: #FFDDCC;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 2rem 2rem;

    h1 {
        margin: 15px;
    }
}

.estadisticas-rectangulo {
    grid-row: 3; /* Tercera fila */
    grid-column: span 2; /* Ocupa ambas columnas */
    background-color: #DDCCFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 1rem 1rem;

    h1 {
        margin: 15px;
    }
}

/* TARJETA DE PERFIL */
.profile {
    min-width: 200px;
    max-width: 200px;
    min-height: 320px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEE;
    align-content: center;
    justify-content: space-around;
}

.profile-image {
    border-radius: 100%; /* Hace que el contenedor sea completamente circular */
    overflow: hidden; /* Asegura que la imagen no se desborde */
    width: 150px;
    height: 150px;
    position: relative;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.profile-actions {
    margin-top: 10px;
}

.btn {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: none;
    text-decoration: none;
    margin: 2px;
}

.btn:hover {
    background-color: #333;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: white;
}

.profile-actions button.guardar:hover {
    background: #38e338;
}

.profile-actions button.cancelar:hover {
    background: #dc2121;
}

.hidden {
    display: none;
}

.input, textarea {
    border-radius: 40px; /* LO DEFINI EN CADA ELEMENTO DEL HTML */
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
}

/* AMIGOS */
.sin-amigos h1 {
    color: #666;
    font-style: italic;
}

.listaDeAmigos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.listaDeAmigos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foto-perfil-grande {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
}

/* ULTIMA PARTIDA */
.lista-partidas {
    min-height: 212px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 10px;
}

.id-partida {
    margin: 10px;
}

.participantes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.foto-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
}

.datos-j {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    transition: background-color 0.3s ease;
    border-radius: 100%;
    overflow: hidden;
}

.datos-j.ganador:hover {
    background-color: #d4f7d4; /* Fondo verde suave para el ganador */
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.datos-j.perdedor:hover {
    background-color: #f7d4d4; /* Fondo rojo suave para el perdedor */
    transform: scale(1.05); /* Efecto de agrandamiento */
}

#derrota, #victoria {
    display: flex;
    flex-direction: column;
}

/* ESTADISTICAS */
.estadisticas-propias {
    margin-top: 15px;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

.mis-datos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#alt-text {
    text-align: center;
    justify-content: center;
}

.jugador .foto-perfil, .jugador .division,
.mis-datos .foto-perfil, .mis-datos .division {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


.contrasena{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}