@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400;500&display=swap');


/* Estilo para el título */
h1, h2, h3, label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p, span {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

/* HEADER BORROSO */
#blurry-filter {
    width: 100%;
    height: 9rem;
    mask: linear-gradient(black 7rem, transparent);
    -webkit-mask: linear-gradient(black 7rem, transparent);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
    touch-action: none;
    background: #EEE;
}

/* ESTILOS GENERALES */
body {
    margin: 0;
    padding: 0;
    background: #EEE;
    /*background-image: url('https://png.pngtree.com/background/20230610/original/pngtree-city-illustration-background-vector-picture-image_3046717.jpg');
    background-size: cover;*/
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    cursor: default;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* HEADER */
header {
    width: 100%;
    height: 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */

}

header > div {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#titulo-principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Kumar One Outline", system-ui;
    font-size: 50px;
    text-align: center; /* Asegura que el texto esté centrado dentro de su contenedor */
    flex-grow: 1; /* Hace que el título ocupe el espacio disponible */
    margin: 0;
}

/* BOTON HOME */
#back {
    width: 100%;
}

#back .parent {
    line-height: 1em;
    color: #666;
}

.circle-arrow {
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.circle-arrow circle {
    transition: all 0.3s ease;
}

.circle-arrow path {
    transition: all 0.3s ease;
}

/* Estado por defecto */
.circle-arrow circle {
    fill: transparent;
    stroke: #333;
}

.circle-arrow path {
    stroke: #333;  /* La flecha es blanca */
}

/* Hover: colores invertidos */
.circle-arrow:hover circle, .circle-arrow:hover path {
    fill: #333;
    stroke: white; /* El borde del círculo se vuelve gris */
}
.circle-arrow:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);  /* Añade una sombra al hacer hover */
}

.foto-perfil {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

article svg {
    width: 40px;
    height: 40px;
    margin: 0;
}

#reference {
    display: flex;
}

#reference > a {
    color: #444;
}

#reference > a + a {
    margin-left: 1rem;
}

/* Contenedor principal del chat */
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 76vh;
    min-width: 60%;
    background-color: transparent; /* Fondo azul oscuro */
    padding: 20px;
}

/* Contenedor del chat */
.chatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    height: 100%;
    background-color: #c1e1ed;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
}

/* Área de mensajes */
.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    background: radial-gradient(#faaaaa, #686060);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Datos del otro usuario */
.info-usuario {
    position: sticky;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #c1e1ed;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.foto-perfil {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

/* Barra de entrada */
.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Campo de texto */
.styledInput {
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s;
}

.styledInput:focus {
    border-color: #ffa000;
}

/* Botón de enviar */
.styledButton {
    flex-shrink: 0; /* Mantiene el tamaño del botón fijo */
    background-color: #28a745; /* Verde */
    border: none;
    left: 5px;
    color: white;
    padding: 8px 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    font-weight: bold;
}

.styledButton:hover {
    color: #218838;
    background-color: white;
    border: solid 4px #218838;
    padding: 4px 7px;
}