<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/Amigos.css}"/>
    <title>Amigos</title>
</head>
<body>

<!-- HEADER -->
<header class="main-header">
    <div class="back-button">
        <a href="">VOLVER AL MENU</a>
    </div>
    <div class="header-usuario">
        <a href="">
            <img th:src="@{.../img/usuario.jpg}" alt="Usuario">
        </a>

    </div>
    <div class="header-confi">
        <a href="">
            <img th:src="@{/resources/core/img/settings.jpg}" alt="Configuracion">
        </a>
    </div>
</header>

<div class="container">
    <h1>Lista de Amigos</h1>
    <div class="friends-list">
        <ul>
            <li onclick="showDetails('amigo1')">Juan Pérez</li>
            <li onclick="showDetails('amigo2')">María García</li>
            <li onclick="showDetails('amigo3')">Carlos Martínez</li>
            <li onclick="showDetails('amigo4')">Laura Sánchez</li>
            <li onclick="showDetails('amigo5')">Pedro González</li>
        </ul>
    </div>

    <div class="friend-details" id="friend-details">
        <!-- Aquí se mostrarán los detalles del amigo -->
        <h2>Detalles del amigo</h2>
        <div id="details-content">
            Haz clic en un amigo para ver más información.
        </div>
        <div>
            <button id="button-chat"> Ir al chat</button>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="footer-container">
        <p>&copy; 2024 UNLAM. Todos los derechos reservados.</p>
        <div class="footer-alumnos">
            <p>Lucas Gavagnin | </p>
            <p>Gonzalo Ramos | </p>
            <p>Martin Zaccardo | </p>
            <p>Franco Vargas | </p>
            <p>Victoria Croce </p>
        </div>
    </div>
</footer>

</body>
</html>