<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- Estilos generales -->
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <!--  Estilo Custom  -->
    <link rel="stylesheet" th:href="@{/css/amigos.css}"/>
    <title>Amigos</title>
</head>
<body>
<!-- HEADER -->
<header class="col-12 py-3 d-flex align-items-center">
    <nav class="col-10 mx-auto d-flex flex-wrap justify-content-between align-items-center text-white">
        <a class="text-decoration-none fs-4 text-white" th:href="@{/home}">
            Home
        </a>
        <div class="d-flex gap-2 align-items-center">
            <a class="text-decoration-none text-white" th:href="@{/perfil}">
                <img id="usuario" alt="Usuario" th:src="@{/img/usuario.png}"/>
            </a>
            <a href="" class="text-decoration-none text-white fs-5">
                <img id="configuracion" alt="Configuracion" th:src="@{/img/configuracion.png}"/>
            </a>
        </div>
    </nav>
</header>
<main class="d-flex mx-auto justify-content-center gap-2">
    <!--  TABLA AMIGOS  -->
    <div class="d-flex flex-column align-items-center tablaAmigos" th:if="${amigos != null}">
        <p class="text-white fs-5">Tus amigos</p>
        <table class="table table-striped table-bordered bg-white" style="height: fit-content;">
            <thead class="table-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col" class="text-center">Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="amigo : ${amigos}">
                <td th:text="${amigo.id} + ' - ' + ${amigo.nombreUsuario}"></td>
                <td class="text-center">
                    <div class="d-flex gap-1">
                        <a th:href="@{/chat(idUser1=${usuarioActual.id}, idUser2=${amigo.id})}"
                           class="btn btn-success btn-sm">
                            Mensaje
                        </a>
                        <form th:action="@{/eliminar-amigo}" method="post">
                            <input type="hidden" name="idAmigo" th:value="${amigo.id}">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </div>
                    <!--                    <form th:action="@{/agregar-amigo}" method="post">-->
                    <!--                        <input type="hidden" name="idAmigo" th:value="${amigo.id}">-->
                    <!--                        <button type="submit" class="btn btn-primary btn-sm">Agregar</button>-->
                    <!--                    </form>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--  TABLA RECOMENDADOS  -->
    <div class="d-flex flex-column align-items-center tablaAmigos" th:if="${#lists.isEmpty(amigosSugeridos) == false}">
        <p class="text-white fs-5" th:if="${error != null}">No tienes amigos, te recomendamos estos.</p>
        <p class="text-white fs-5" th:unless="${error != null}">Recomendados</p>
        <table class="table table-striped table-bordered bg-white" style="height: fit-content;">
            <thead class="table-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col" class="text-center">
                    Acción
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="amigo : ${amigosSugeridos}">
                <td th:text="${amigo.id} + ' - ' + ${amigo.nombreUsuario}"></td>
                <td class="text-center">
                    <form th:action="@{/agregar-amigo}" method="post">
                        <input type="hidden" name="idAmigo" th:value="${amigo.id}">
                        <button type="submit" class="btn btn-primary btn-sm">Agregar</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <form th:action="@{/amistad/enviar}" method="post">
        <input type="hidden" name="idSolicitado" th:value="${usuario.id}">
        <button type="submit" class="btn btn-primary">Enviar solicitud</button>
    </form>

    <h2>Solicitudes Pendientes</h2>
    <table>
        <tr>
            <th>Usuario</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="solicitud : ${solicitudesPendientes}">
            <td th:text="${solicitud.solicitante.nombre}"></td>
            <td>
                <form th:action="@{/amistad/aceptar}" method="post" style="display: inline;">
                    <input type="hidden" name="idSolicitud" th:value="${solicitud.id}">
                    <button type="submit" class="btn btn-success">Aceptar</button>
                </form>
                <form th:action="@{/amistad/rechazar}" method="post" style="display: inline;">
                    <input type="hidden" name="idSolicitud" th:value="${solicitud.id}">
                    <button type="submit" class="btn btn-danger">Rechazar</button>
                </form>
            </td>
        </tr>
    </table>
</main>
<footer class="col-12 py-4 d-flex flex-column gap-2">
    <div class="footerWrapper col-10 mx-auto d-flex align-items-center text-white">
        <div class="col-4 d-flex flex-wrap justify-content-center gap-4">
            <div><img th:src="@{/img/logos/javalogo.webp}" class="footerImage"/></div>
            <div><img th:src="@{/img/logos/springlogo.svg}" class="footerImage"/></div>
        </div>
        <div class="col-4 d-flex flex-column align-items-center gap-2 flex-wrap fs-5 separationBar">
            <p>Victoria Croce</p>
            <p>Lucas Gavagnin</p>
            <p>Gonzalo Ramos</p>
            <p>Franco Vargas</p>
            <p>Martin Zaccardo</p>
        </div>
        <div class="col-4 d-flex flex-wrap justify-content-center">
            <div><img th:src="@{/img/logos/unlamsinfondo.svg}" class="footerImage"/></div>
        </div>
    </div>
    <hr class="col-10 mx-auto text-white"/>
    <p class="py-1 text-center fs-5 text-white">&copy; 2024 UNLaM. Todos los derechos reservados.</p>
</footer>
</body>
</html>