<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas de Jugadores</title>
    <link rel="stylesheet" th:href="@{/css/estadisticas.css}">
</head>
<body>
<header class="main-header">
    <a th:href="@{/home}">
        Home
    </a>
    <div class="header-cerrarSesion">
        <a href="#">Cerrar sesión</a>
    </div>
    <div class="header-usuario">
        <a th:href="@{/perfil}">
            <img id="usuario" src="img/usuario.png" alt="Usuario">
        </a>
    </div>
    <div class="header-confi">
        <a href="#">
            <img id="configuracion" src="img/configuracion.png" alt="Configuración">
        </a>
    </div>
</header>

<div class="container">
    <h2>Estadísticas de Jugadores</h2>
    <table>
        <thead>
        <tr>
            <th>Jugador</th>
            <th>Nivel</th>
            <th>Puntaje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="estadistica : ${estadisticas}">
            <td th:text="${estadistica.jugador}"></td>
            <td th:text="${estadistica.nivel}"></td>
            <td th:text="${estadistica.puntaje}"></td>
        </tr>
        </tbody>
    </table>
</div>

<footer>
    <div class="footer-container">
        <p>&copy; 2024 UNLAM. Todos los derechos reservados.</p>
        <div class="footer-alumnos">
            <a href="#">Lucas Gavagnin</a> |
            <a href="#">Gonzalo Ramos</a> |
            <a href="#">Martin Zaccardo</a> |
            <a href="#">Franco Vargas</a> |
            <a href="#">Victoria Croce</a>
        </div>
    </div>
</footer>
</body>
</html>
