<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!--  Estilo Custom -->
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <!-- FOOTER -->
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <title>Trucoteca</title>
</head>
<body>
<div id="blurry-filter"></div>
<header>
    <div>
        <article id="title">
            <span class="parent">Bienvenido</span>
            <br>
            <h1 th:text="${usuario != null} ? ${usuario.getNombreUsuario()} : 'Invitado'" class="name"></h1>
        </article>

        <article id="reference">
            <a class="text-decoration-none text-white" target="_blank" rel="noopener" th:href="@{/perfil(id=${usuario.id})}">
                <div th:if="${usuario.fotoPerfil == null || usuario.fotoPerfil.id == 1}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <circle cx="12" cy="8" r="4"></circle>
                        <path d="M12 14c-4.42 0-8 2.24-8 5v1h16v-1c0-2.76-3.58-5-8-5z"></path>
                    </svg>
                </div>

                <div th:if="${usuario.fotoPerfil != null && usuario.fotoPerfil.id != 1}">
                    <img th:src="@{'/img/fotos-perfil/' + ${usuario.fotoPerfil.imagen}}" width="24" height="24" alt="Foto de perfil">
                </div>
            </a>
            <a href="" class="text-decoration-none text-white fs-5" target="_blank" rel="noopener">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M19.43 12.98c.04-.32.07-.65.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1a8.12 8.12 0 0 0-1.69-.98l-.38-2.65A.485.485 0 0 0 14 2h-4c-.25 0-.45.18-.49.42l-.38 2.65c-.62.23-1.2.54-1.69.98l-2.49-1a.494.494 0 0 0-.61.22l-2 3.46c-.12.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98L2.62 14.63c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.49.44 1.07.75 1.69.98l.38 2.65c.04.24.24.42.49.42h4c.25 0 .45-.18.49-.42l.38-2.65c.62-.23 1.2-.54 1.69-.98l2.49 1c.23.09.5 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"></path>
                </svg>
            </a>

        </article>
    </div>
</header>

<div class="tableta">
    <a th:href="@{/amigos}">
        <div class="marquee">
            <ul class="marquee-content" >
                <li th:each="usuario : ${usuariosSugeridos}">
                    <p style="color: black;" th:text="${usuario.nombreUsuario}"></p>
                    <i class="fab fa-github">
                        <img th:src="@{/img/fotos-perfil/{fotoPerfil}(fotoPerfil=${usuario.urlFotoPerfil})}" alt="Foto de perfil" class="foto-perfil" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;">
                    </i>
                </li>
            </ul>
        </div>
    </a>

    <main>
        <figure style="width: 100%; height: 219px; background-size: cover; background-position: center;">
            <figcaption>Truco</figcaption>
            <form th:action="@{/menuJuego}" method="get" >
                <!-- Campo oculto para pasar el usuario -->
                <input type="hidden" name="idUsuario" th:value="${usuario.id}">

                <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                    <img th:src="@{/img/truco-home.png}" alt="Ir al juego de truco" style="width: 100%; height: 220px; background-size: cover; background-position: center;">
                </button>
            </form>
        </figure>
        <figure th:style="'width: 100%; height: 219px; background-size: cover; background-position: center; background-image: url(' + @{/img/uno-home.jpg} + ')'">
            <figcaption>UNO</figcaption>
        </figure>
        <figure th:style="'width: 100%; height: 219px; background-size: cover; background-position: center; background-image: url(' + @{/img/chinchon.jpg} + ')'"> <!-- MARCA ERROR PERO FUNCIONA BIEN -->
            <figcaption>Chin-Chon</figcaption>
        </figure>
        <figure style="background-image: url('https://images.unsplash.com/photo-1593414220166-085caeae0382?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80')">
            <figcaption>City-01</figcaption>
        </figure>
        <figure style="background-image: url('https://images.unsplash.com/photo-1593414220166-085caeae0382?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80')">
            <figcaption>City-01</figcaption>
        </figure>
        <figure style="background-image: url('https://images.unsplash.com/photo-1593414220166-085caeae0382?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80')">
            <figcaption>City-01</figcaption>
        </figure>
        <!-- Repite las demás figuras aquí -->
    </main>
</div>


<footer class="col-12 py-4 d-flex flex-column gap-2">
    <div class="footerWrapper col-10 mx-auto d-flex align-items-center text-white">
        <div class="col-4 d-flex flex-wrap justify-content-center gap-4">
            <div><img th:src="@{/img/logos/javalogo.webp}" class="footerImage"/></div>
            <div><img th:src="@{/img/logos/springlogo.svg}" class="footerImage"/></div>
        </div>
        <div class="col-4 d-flex flex-column align-items-center gap-2 flex-wrap fs-5 separationBar">
            <p>Victoria Croce</p>
            <p>Lucas Gavagnin</p>
            <p>Gonzalo Ramos</p>
            <p>Franco Vargas</p>
            <p>Martin Zaccardo</p>
        </div>
        <div class="col-4 d-flex flex-wrap justify-content-center">
            <div><img th:src="@{/img/logos/unlamsinfondo.svg}" class="footerImage"/></div>
        </div>
    </div>
    <hr class="col-10 mx-auto text-white"/>
    <p class="py-1 text-center fs-5 text-white">&copy; 2024 UNLaM. Todos los derechos reservados.</p>
</footer>

<!-- SCRIPT PARA CARROUSEL -->
<script>
    const root = document.documentElement;
    const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
    const marqueeContent = document.querySelector("ul.marquee-content");

    root.style.setProperty("--marquee-elements", marqueeContent.children.length);

    for(let i=0; i<marqueeElementsDisplayed; i++) {
        marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
    }
</script>
</body>
</html>