<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/InicioSesion.css}"/>
    <title>Inicio de Sesion</title>
</head>
<body>

<form id="formulario" action="">
    <h1> Iniciar sesión en Aplicación</h1>
    <label for="username">Usuario</label>
    <input type="text" id="username" name="username" placeholder="nombre de usuario" required>

    <label for="password">Contraseña</label>
    <input type="password" id="password" name="password" placeholder="contraseña" required>

    <button type="submit">Ingresar</button>
    <a href="">¿Olvidaste tu usuario o contraseña?</a>

    <hr>

    <p >¿No tenés cuenta aún? <a href="registro.html" class="link">Registrate</a></p>
</form>
</body>

</html>