<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/InicioSesion.css}"/>
    <title>Inicio de Sesion</title>
</head>
<body>
    <header>
        <h1 class="texto-bienvenida">¡¡Bienvenido a nuestra plataforma de juegos!!</h1>
        <div class="imagenes">
            <img th:src="@{/img/logos/javalogo.webp}" class="headerImage"/>
            <img th:src="@{/img/logos/springlogo.svg}" class="headerImage"/>
            <div class="division"></div>
            <div><img th:src="@{/img/logos/unlamsinfondo.svg}" class="headerImage"/></div>
        </div>
    </header>

    <form id="formulario" action="">
        <h1> Iniciar sesión en Aplicación</h1>
        <label for="username">Usuario</label>
        <input type="text" id="username" name="username" placeholder="nombre de usuario" required>

        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="contraseña" required>

        <button type="submit">Ingresar</button>
        <a href="">¿Olvidaste tu usuario o contraseña?</a>
        <hr>

        <p >¿No tenés cuenta aún? <a th:href="@{/nuevo-usuario}" class="link">Registrate</a></p>
    </form>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 UNLAM. Todos los derechos reservados.</p>
            <div class="footer-alumnos">
                <p>Lucas Gavagnin |  </p>
                <p>Gonzalo Ramos |  </p>
                <p>Martin Zaccardo |  </p>
                <p>Franco Vargas | </p>
                <p>Victoria Croce </p>
            </div>
        </div>
    </footer>
</body>

</html>