<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- Estilos generales -->
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <!--  Estilo Custom -->
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <title>Login</title>

</head>

<body>
<header class="col-12 d-flex align-items-center">
    <div class="col-10 mx-auto d-flex align-items-center justify-content-between">
        <h1>Bienvenido a nuestra plataforma de juegos</h1>
    </div>
</header>
<main role="main" class="col-12 d-flex justify-content-center align-items-center">
    <div class="col-3 mx-auto d-flex flex-column align-items-center justify-content-center border rounded-4 p-4">
        <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}"
              class="w-100 p-2 rounded-4 d-flex flex-column gap-2">
            <h3 class="text-center text-white m-0">Taller Web I</h3>
            <div class="d-flex flex-column gap-2">
                <input
                        th:field="*{email}"
                        id="email"
                        type="email"
                        class="form-control"
                        required
                        placeholder="Ingrese su correo electrónico"
                />
                <input
                        th:field="*{password}"
                        type="password"
                        id="password"
                        class="form-control"
                        required
                        placeholder="Ingrese su contraseña"
                />
            </div>
            <button id="btn-login" class="btn btn-primary btn-block" Type="submit">Login</button>
            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
        </form>
        <div class="text-white">
            <p class="m-0 d-flex gap-2"> ¿No tienes una cuenta? <a class="text-info" href="nuevo-usuario">Regístrate</a>
            </p>
        </div>
    </div>
</main>

<footer class="col-12 py-4 d-flex flex-column gap-2">
    <div class="footerWrapper col-10 mx-auto d-flex align-items-center text-white">
        <div class="col-4 d-flex flex-wrap justify-content-center gap-4">
            <div><img th:src="@{/img/logos/javalogo.webp}" class="footerImage"/></div>
            <div><img th:src="@{/img/logos/springlogo.svg}" class="footerImage"/></div>
        </div>
        <div class="col-4 d-flex flex-column align-items-center gap-2 flex-wrap fs-5 separationBar">
            <p>Victoria Croce</p>
            <p>Lucas Gavagnin</p>
            <p>Gonzalo Ramos</p>
            <p>Franco Vargas</p>
            <p>Martin Zaccardo</p>
        </div>
        <div class="col-4 d-flex flex-wrap justify-content-center">
            <div><img th:src="@{/img/logos/unlamsinfondo.svg}" class="footerImage"/></div>
        </div>
    </div>
    <hr class="col-10 mx-auto text-white"/>
    <p class="py-1 text-center fs-5 text-white">&copy; 2024 UNLaM. Todos los derechos reservados.</p>
</footer>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>