<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Interface</title>
    <link rel="stylesheet" th:href="@{/css/MenuJuego.css}">
</head>
<body>

<!-- HEADER -->
<header class="main-header">
    <div class="back-button">
        <a href="">VOLVER AL MENU</a>
    </div>
    <div class="header-usuario">
        <a href="">
            <img id="usuario" th:src="@{/img/usuario.png}" alt="Usuario">
        </a>

    </div>
    <div class="header-confi">
        <a href="">
            <img id="configuracion" th:src="@{/img/configuracion.png}" alt="Configuracion">
        </a>
    </div>
</header>

    <div class="info-container">
        <h1>TRUCO</h1>
        <!-- Imagen de portada del juego -->
        <img th:src="@{/img/fondo-truco.jpg}" alt="Imagen del juego">
        <button>JUGAR</button>

        <!-- Estadísticas del juego -->
        <div class="game-stats">
            <div class="opciones">
                <h2 class="opcion1">Estadísticas</h2>
                <h2 class="opcion2">Historial</h2>
            </div>

            <table>
                <thead>
                <tr>
                    <th>Jugador</th>
                    <th>Partidas</th>
                    <th>Partidas Ganadas</th>
                    <th>Partidas Perdidas</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sofía Hernández</td>
                    <td>23</td>
                    <td>15</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Ana Martínez</td>
                    <td>22</td>
                    <td>14</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>María López</td>
                    <td>20</td>
                    <td>12</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Javier Morales</td>
                    <td>21</td>
                    <td>13</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Laura García</td>
                    <td>19</td>
                    <td>13</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Carlos Gómez</td>
                    <td>18</td>
                    <td>10</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Luis Fernández</td>
                    <td>17</td>
                    <td>11</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Isabel Ruiz</td>
                    <td>16</td>
                    <td>10</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Juan Pérez</td>
                    <td>15</td>
                    <td>9</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Pablo Torres</td>
                    <td>14</td>
                    <td>7</td>
                    <td>7</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

<!-- Footer -->
<footer>
    <div class="footer-container">
        <p>&copy; 2024 UNLAM. Todos los derechos reservados.</p>
        <div class="footer-alumnos">
            <p>Lucas Gavagnin | </p>
            <p>Gonzalo Ramos | </p>
            <p>Martin Zaccardo | </p>
            <p>Franco Vargas | </p>
            <p>Victoria Croce </p>
        </div>
    </div>
</footer>
</body>
</html>