<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- Estilos generales -->
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <!--  Estilo Custom  -->
    <link rel="stylesheet" th:href="@{/css/menu-juego.css}"/>
    <title>Game Interface</title>
</head>
<body>
<!-- HEADER -->
<header class="col-12 py-3 d-flex align-items-center">
    <nav class="col-10 mx-auto d-flex flex-wrap justify-content-between align-items-center text-white">
        <a class="text-decoration-none fs-4 text-white" th:href="@{/home}">
            Home
        </a>
        <h1>TRUCO</h1>
        <div class="d-flex gap-2 align-items-center">
            <a class="text-decoration-none text-white" th:href="@{/perfil}">
                <img id="usuario" alt="Usuario" th:src="@{/img/usuario.png}"/>
            </a>
            <a href="" class="text-decoration-none text-white fs-5">
                <img id="configuracion" alt="Configuracion" th:src="@{/img/configuracion.png}"/>
            </a>
        </div>
    </nav>
</header>

<main class="info-container col-12">
    <div class="col-10 mx-auto menuJuegoWrapper">
        <!-- Imagen de portada del juego -->
        <img th:src="@{/img/fondo-truco.png}" alt="Imagen del juego">

        <div class="d-flex gap-2 flex-wrap">
            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#myModal">
                Abrir Modal
            </button>
            <a class="btn btn-secondary" th:href="@{/verSalas}">
                Ver salas
            </a>
        </div>

        <!--   CONTINUACIÓN    -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Crear sala</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <form type="submit" th:action="@{/crearSala}" class="d-flex flex-column gap-2" method="post">
                            <input type="hidden" th:value="${usuarioActivo.getId()}" name="idUsuario">
                            <div class="btn-group btn-group-toggle" data-bs-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="puntos" id="option15" value="15" autocomplete="off" checked> 15 puntos
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="puntos" id="option30" value="30" autocomplete="off"> 30 puntos
                                </label>
                            </div>
                            <button class="btn btn-primary" type="submit">Crear sala</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="botones">
            <!-- CREAR SALA -->
            <form th:action="@{/crearSala}" method="post">
                <!-- Enviar el id del usuario activo como un parámetro oculto -->
                <input type="hidden" name="idUsuario" th:value="${usuarioActivo.id}"/>
                <button type="submit" id="boton-crear" class="styledBtn">CREAR SALA</button>
            </form>
            <!-- VER SALAS -->
            <button id="boton-buscar" onclick="mostrarPanelSalas()" class="styledBtn">VER SALAS DE ESPERA</button>
        </div>

        <!-- Panel desplegable -->
        <h2 th:if="${error != null}" th:text="${error}" style="color: red;"></h2>
        <div id="panel" class="panel oculto">
            <h3>Salas de Espera</h3>
            <ul id="lista-salas">
                <!-- Mostrar mensaje si no hay salas -->
                <li th:if="${#lists.isEmpty(salasDeEspera)}">No se encontró ninguna sala.</li>

                <!-- Si hay salas, mostrar lista de salas -->
                <li th:each="sala : ${salasDeEspera}">
                    <span th:text="'ID de sala: ' + ${sala.id}"></span>
                    <span th:text="'Jugador 1: ' + ${sala.nombreJugador1}"></span>
                    <span th:text="${sala.nombreJugador2 != null ? 'Jugador 2: ' + sala.nombreJugador2 : 'Esperando por rival'}"></span>
                    <form th:action="@{/unirseSala}" method="get">
                        <input type="hidden" name="idSala" th:value="${sala.id}"/>
                        <input type="hidden" name="idUsuario" th:value="${usuarioActivo.id}"/>
                        <input type="hidden" name="idHost" th:value="${sala.idJugador1}"/>
                        <button type="submit" th:if="${sala.nombreJugador2 == null}">Unirse</button>
                    </form>
                </li>
            </ul>
        </div>

        <!-- Mensaje de carga -->
        <div id="loading" style="display: none;">Cargando salas...</div>

        <!-- Estadísticas del juego -->
        <div class="game-stats">
            <div class="opciones">
                <h2 class="opcion1">Estadísticas</h2>
                <h2 class="opcion2">Historial</h2>
            </div>

            <table>
                <thead>
                <tr>
                    <th>Jugador</th>
                    <th>Victorias</th>
                    <th>Nivel</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="jugador : ${jugadores}">
                    <td th:text="${jugador.nombre}"></td>
                    <td th:text="${jugador.victorias}"></td>
                    <td th:text="${jugador.nivel}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</main>
<footer class="col-12 py-4 d-flex flex-column gap-2">
    <div class="footerWrapper col-10 mx-auto d-flex align-items-center text-white">
        <div class="col-4 d-flex flex-wrap justify-content-center gap-4">
            <div><img th:src="@{/img/logos/javalogo.webp}" class="footerImage"/></div>
            <div><img th:src="@{/img/logos/springlogo.svg}" class="footerImage"/></div>
        </div>
        <div class="col-4 d-flex flex-column align-items-center gap-2 flex-wrap fs-5 separationBar">
            <p>Victoria Croce</p>
            <p>Lucas Gavagnin</p>
            <p>Gonzalo Ramos</p>
            <p>Franco Vargas</p>
            <p>Martin Zaccardo</p>
        </div>
        <div class="col-4 d-flex flex-wrap justify-content-center">
            <div><img th:src="@{/img/logos/unlamsinfondo.svg}" class="footerImage"/></div>
        </div>
    </div>
    <hr class="col-10 mx-auto text-white"/>
    <p class="py-1 text-center fs-5 text-white">&copy; 2024 UNLaM. Todos los derechos reservados.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script>
    function mostrarPanelSalas() {
        document.getElementById("panel").classList.toggle("oculto");
    }
</script>
</body>
</html>