<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- FOOTER -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <!-- FONT FAMILIES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Edu+AU+VIC+WA+NT+Arrows:wght@700&family=Kaushan+Script&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <!--  Estilo Custom  -->
    <link rel="stylesheet" th:href="@{/css/menu-juego.css}"/>
    <title>Game Interface</title>
</head>
<body>
<!-- HEADER -->
<div id="blurry-filter"></div>
<header>
    <div>
        <article id="title">
            <a th:href="@{/home}">
                <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" viewBox="0 0 24 24" fill="none" stroke="#fff" class="circle-arrow">
                    <circle cx="12" cy="12" r="10" fill="#333" stroke="white" stroke-width="2"></circle> <!-- Círculo de fondo en gris -->
                    <path d="M15 12H9M9 12l4-4M9 12l4 4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <!-- Flecha en blanco -->
                </svg>
            </a>
        </article>

        <article id="center">
            <h1 id="titulo-principal">TRUCO</h1>
        </article>

        <article id="reference">
            <a class="text-decoration-none text-white" target="_blank" rel="noopener" th:href="@{/perfil(id=${usuario.id})}">
                <!-- Si el usuario no tiene foto, mostrar un ícono predeterminado -->
                <div th:if="${usuario.urlFotoPerfil == null || usuario.urlFotoPerfil == '/img/fotos-perfil/default.png'}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" viewBox="0 0 24 24" fill="#333">
                        <circle cx="12" cy="8" r="4"></circle>
                        <path d="M12 14c-4.42 0-8 2.24-8 5v1h16v-1c0-2.76-3.58-5-8-5z"></path>
                    </svg>
                </div>

                <!-- Si el usuario tiene foto de perfil, mostrar la imagen -->
                <div th:if="${usuario.urlFotoPerfil != null && usuario.urlFotoPerfil != '/img/fotos-perfil/default.png'}">
                    <img class="foto-perfil" th:src="@{${usuario.urlFotoPerfil}}" alt="Foto de perfil">
                </div>
            </a>
            <a href="" class="text-decoration-none text-white fs-5" target="_blank" rel="noopener">
                <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" viewBox="0 0 24 24" fill="#333">
                    <path d="M19.43 12.98c.04-.32.07-.65.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1a8.12 8.12 0 0 0-1.69-.98l-.38-2.65A.485.485 0 0 0 14 2h-4c-.25 0-.45.18-.49.42l-.38 2.65c-.62.23-1.2.54-1.69.98l-2.49-1a.494.494 0 0 0-.61.22l-2 3.46c-.12.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98L2.62 14.63c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.49.44 1.07.75 1.69.98l.38 2.65c.04.24.24.42.49.42h4c.25 0 .45-.18.49-.42l.38-2.65c.62-.23 1.2-.54 1.69-.98l2.49 1c.23.09.5 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"></path>
                </svg>
            </a>
        </article>
    </div>
</header>

<!-- CONTENIDO PRINCIPAL -->
<div class="tableta">
    <main class="info-container">
        <div class="menuJuegoWrapper">
            <!-- Imagen de portada del juego -->
            <img id="foto" th:src="@{/img/fondo-truco.png}" alt="Imagen del juego">

            <div class="botones">
                <!-- CREAR SALA -->
                <button type="button" id="boton-crear" class="styledBtn" data-bs-toggle="modal" data-bs-target="#myModal">CREAR SALA</button>
                <!-- VER SALAS -->
                <button id="boton-buscar" class="styledBtn">VER SALAS DE ESPERA</button>
            </div>

            <!-- PANEL OPCIONES DE PARTIDA -->
            <div id="myModal">
                <div class="modal-dialog">
                    <h3 class="modal-title">Puntos para ganar:</h3>
                    <div class="modal-body">
                        <form type="submit" th:action="@{/crearSala}" method="post">
                            <input type="hidden" th:value="${usuario.getId()}" name="idUsuario">
                            <div class="radios">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="puntos" id="option15" value="15" autocomplete="off" checked> 15 puntos
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="puntos" id="option30" value="30" autocomplete="off"> 30 puntos
                                </label>
                            </div>
                            <button class="styledBtn" type="submit">Crear sala</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Panel desplegable -->
            <h2 th:if="${error != null}" th:text="${error}" class="error-msg"></h2>
            <div id="panel" class="panel oculto">
                <h3 style="text-align: center;">Salas disponibles</h3>

                <!-- Filtro de puntos -->
                <div class="filtro">
                    <label for="puntosFiltro">Filtrar por puntos:</label>
                    <select id="puntosFiltro" onchange="filtrarSalas()">
                        <option value="todos">Todos</option>
                        <option value="15">15 puntos</option>
                        <option value="30">30 puntos</option>
                    </select>
                </div>

                <div class="contenedorSalas">
                    <!-- Sala 1 -->
                    <div class="sala" data-puntos="15">
                        <div class="sala-perfil">
                            <img th:src="@{/img/fotos-perfil/default.png}" alt="Perfil" class="foto-perfil">
                            <p class="nombre-usuario">Usuario1</p>
                        </div>
                        <div class="sala-detalles">
                            <p>Partida: 1</p>
                            <p>Puntos: 15</p>
                        </div>
                        <div class="sala-boton">
                            <a class="styledBtn" href="#">Unirse</a>
                        </div>
                    </div>

                    <!-- Sala 2 -->
                    <div class="sala" data-puntos="30">
                        <div class="sala-perfil">
                            <img th:src="@{/img/fotos-perfil/default.png}" alt="Perfil" class="foto-perfil">
                            <p class="nombre-usuario">Usuario2</p>
                        </div>
                        <div class="sala-detalles">
                            <p>Partida: 2</p>
                            <p>Puntos: 30</p>
                        </div>
                        <div class="sala-boton">
                            <a class="styledBtn" href="#">Unirse</a>
                        </div>
                    </div>

                    <!-- Salas dinámicas -->
                    <div th:if="${!partidasDisponibles.isEmpty()}" th:each="partida : ${partidasDisponibles}" class="sala" th:data-puntos="${partida.puntosParaGanar}">
                        <div class="sala-perfil">
                            <img th:src="@{${partida.getJ1().getUsuario().getUrlFotoPerfil()}}" alt="Perfil" class="foto-perfil">
                            <p class="nombre-usuario" th:text="${partida.getJ1().getNombre()}"></p>
                        </div>
                        <div class="sala-detalles">
                            <p th:text="${'Partida: ' + partida.getId()}"></p>
                            <p th:text="${'Puntos: ' + partida.getPuntosParaGanar()}"></p>
                        </div>
                        <div class="sala-boton">
                            <a class="styledBtn" th:href="@{/unirse(idJugador=${usuario.getId()}, idPartida=${partida.getId()})}">Unirse</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Estadísticas del juego -->
            <div class="estadisticas-container">
                <!-- Cabeceras -->
                <div class="cabeceras">
                    <div id="estadisticas-header" class="header active" onclick="toggleContent('estadisticas')">Estadísticas Globales</div>
                    <div id="ultimas-partidas-header" class="header" onclick="toggleContent('ultimas-partidas')">Últimas Partidas</div>
                </div>

                <!-- Contenido Estadísticas Globales -->
                <div id="estadisticas" class="content visible">
                    <h2>Top 5 Jugadores</h2>
                    <p class="aclaracion">G = Victorias</p>
                    <p class="aclaracion">PJ = Partidas Jugadas</p>
                    <p class="aclaracion">D = Derrotas</p>
                    <div class="top-jugadores">
                        <!-- Datos Dinámicos -->
                        <div th:each="estadistica : ${topJugadores}">
                            <div class="jugador">
                                <img th:src="@{${estadistica.getUsuario().getUrlFotoPerfil()}}" alt="Foto de {jugador.nombre}" class="foto-perfil">
                                <span class="nombre" th:text="${estadistica.getUsuario().getNombreUsuario()}"></span>
                                <span class="victorias" th:text="${estadistica.getGanadas()} + 'V'"></span>
                                <span class="partidas" th:text="${estadistica.getJugadas()} + 'PJ'"></span>
                                <span class="derrotas" th:text="${estadistica.getJugadas() - estadistica.getGanadas()} + 'D'"></span>
                                <img class="division" th:src="@{${estadistica.getUrlNivel()}}" alt="division"/>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="estadisticas-propias">
                        <div class="mis-datos" th:if="${misEstadisticas != null}">
                            <img th:src="@{${misEstadisticas.getUsuario().getUrlFotoPerfil()}}" alt="Foto de {jugador.nombre}" class="foto-perfil">
                            <span class="nombre" th:text="${misEstadisticas.getUsuario().getNombreUsuario()}"></span>
                            <span class="victorias" th:text="${misEstadisticas.getGanadas()} + 'V'"></span>
                            <span class="partidas" th:text="${misEstadisticas.getJugadas()} + 'PJ'"></span>
                            <span class="derrotas" th:text="${misEstadisticas.getJugadas() - misEstadisticas.getGanadas()} + 'D'"></span>
                            <img class="division" th:src="@{${misEstadisticas.getUrlNivel()}}" alt="division"/>
                        </div>
                        <div id="alt-text" th:if="${misEstadisticas == null}">
                            <h3>Aún no tienes estadísticas.</h3>
                        </div>
                    </div>
                </div>

                <!-- Contenido Últimas Partidas -->
                <div id="ultimas-partidas" class="content">
                    <h2>Últimas Partidas</h2>
                    <div th:if="${partidas == null || partidas.isEmpty()}">
                        <p>No hay partidas recientes.</p>
                    </div>
                    <div th:if="${partidas != null && !partidas.isEmpty()}" th:each="partida : ${partidas}">
                        <div class="lista-partidas"
                             th:style="${partida.getGanador().getUsuario().getId() == usuario.getId() ? 'background-color: #d4f7d4;' : (partida.getGanador() == null ? 'background-color: white;' : 'background-color: #f7d4d4;')}">
                            <p class="id-partida" style="color: #666">Partida N:<span th:text="${partida.getId()}"></span></p>
                            <div class="participantes">
                                <!-- DATOS DEL JUGADOR 1 -->
                                <div class="datos-j">
                                    <img th:src="@{${partida.j1.usuario.getUrlFotoPerfil()}}" alt="Foto de {jugador.nombre}" class="foto-perfil">
                                    <span class="nombre" th:text="${partida.j1.usuario.getNombreUsuario()}"></span>
                                    <span class="total" th:text="${partida.puntosJ1} + 'pts'" style="color: #666"></span>
                                </div>
                                <div class="resultado">
                                    <!-- CHECK DERROTA -->
                                    <div id="derrota" th:if="${partida.getGanador().getUsuario().id != usuario.getId()}" style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24" fill="none" stroke="#fff" class="circle-cross">
                                            <!-- Círculo de fondo transparente -->
                                            <circle cx="12" cy="12" r="10" fill="transparent" stroke="red" stroke-width="2"></circle>
                                            <!-- Cruz roja -->
                                            <path d="M15 9L9 15M9 9l6 6" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        <span style="color: red">Derrota</span>
                                    </div>
                                    <!-- CHECK VICTORIA -->
                                    <div id="victoria" th:if="${partida.getGanador().getUsuario().id == usuario.getId()}" style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24" fill="none" stroke="#fff" class="circle-check">
                                            <!-- Círculo de fondo transparente -->
                                            <circle cx="12" cy="12" r="10" fill="transparent" stroke="green" stroke-width="2"></circle>
                                            <!-- Check verde -->
                                            <path d="M9 12l2 2l4-4" stroke="green" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        <span style="color: green">Victoria</span>
                                    </div>
                                </div>
                                <!-- DATOS DEL JUGADOR 2 -->
                                <div class="datos-j">
                                    <img th:src="@{${partida.j2.usuario.getUrlFotoPerfil()}}" alt="Foto de {jugador.nombre}" class="foto-perfil">
                                    <span class="nombre" th:text="${partida.j2.usuario.getNombreUsuario()}"></span>
                                    <span class="total" th:text="${partida.puntosJ2} + 'pts'" style="color: #666"></span>
                                </div>
                            </div>
                            <span class="ganador" th:text="'Ganador: ' + ${partida.getGanador().getUsuario().getNombreUsuario()}" style="color: #666"></span>
                            <span class="puntos" th:text="'Puntos para ganar: ' + ${partida.puntosParaGanar}" style="color: #666"></span>
                            <span style="display: none" th:text="${partida.getGanador().getUsuario().getId()}"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>


<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<footer class="relative bg-blueGray-200 pt-8 pb-6">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <h4 class="text-3xl font-semibold text-blueGray-700">¡Sigamos en contacto!</h4>
                <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
                    las mejores partidas comienzan con una buena estrategia y terminan con grandes recuerdos.
                </h5>
                <div class="mt-6 lg:mb-0 mb-6 social-buttons">
                    <button class="social-button twitter" type="button">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button class="social-button facebook" type="button">
                        <i class="fab fa-facebook-square"></i>
                    </button>
                    <button class="social-button dribbble" type="button">
                        <i class="fab fa-dribbble"></i>
                    </button>
                    <button class="social-button github" type="button">
                        <i class="fab fa-github"></i>
                    </button>
                </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6">
                    <div class="w-full lg:w-4/12 px-4 ml-auto">
                        <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Miembros</span>
                        <ul class="list-unstyled">
                            <li><a class="link" href="">Ramos Gonzalo</a></li>
                            <li><a class="link" href="">Croce Victoria</a></li>
                            <li><a class="link" href="">Zaccardo Martín</a></li>
                            <li><a class="link" href="">Gavagnin Lucas</a></li>
                        </ul>
                    </div>
                    <div class="w-full lg:w-4/12 px-4">
                        <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Enlaces</span>
                        <ul class="list-unstyled">
                            <li><a class="link" href="">Preguntas Frecuentes</a></li>
                            <li><a class="link" href="">Terminos & Condiciones</a></li>
                            <li><a class="link" href="">Política de Privacidad</a></li>
                            <li><a class="link" href="">Contactanos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-blueGray-300">
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div class="text-sm text-blueGray-500 font-semibold py-1">
                    Copyright © <span id="get-current-year">2024</span>
                    <a href="" class="text-blueGray-500 hover:text-gray-800" target="_blank">
                        Trucoteca.
                    </a>
                    <a href="" class="text-blueGray-500 hover:text-blueGray-800">Los Maestros Del Mazo</a>.
                </div>
            </div>
        </div>
    </div>
</footer>


<script>
    // FUNCIONES DE SALAS
    document.addEventListener('DOMContentLoaded', function () {
        const botonCrear = document.getElementById('boton-crear');
        const botonBuscar = document.getElementById('boton-buscar');
        const modalCrear = document.getElementById('myModal');
        const panelSalas = document.getElementById('panel');

        // Asegurarse de que ambos paneles estén ocultos inicialmente
        modalCrear.style.display = 'none';
        panelSalas.classList.add('oculto');

        // Al hacer clic en "Crear Sala"
        botonCrear.addEventListener('click', function () {
            if (modalCrear.style.display === 'none') {
                // Mostrar el modal de crear sala
                modalCrear.style.display = 'block';

                // Ocultar el panel de salas si está visible
                panelSalas.classList.add('oculto');
            } else {
                // Ocultar el modal de crear sala
                modalCrear.style.display = 'none';
            }
        });

        // Al hacer clic en "Ver Salas"
        botonBuscar.addEventListener('click', function () {
            if (panelSalas.classList.contains('oculto')) {
                // Mostrar el panel de salas
                panelSalas.classList.remove('oculto');

                // Ocultar el modal de crear sala si está visible
                modalCrear.style.display = 'none';
            } else {
                // Ocultar el panel de salas
                panelSalas.classList.add('oculto');
            }
        });
    });

    // FUNCION DE FILTRADO DE SALAS
    function filtrarSalas() {
        // Obtener el valor del filtro seleccionado
        var filtroPuntos = document.getElementById('puntosFiltro').value;

        // Obtener todas las salas
        var salas = document.querySelectorAll('.sala');

        // Iterar sobre cada sala
        salas.forEach(function(sala) {
            // Obtener el valor de data-puntos y convertirlo a una cadena
            var puntosSala = sala.getAttribute('data-puntos').toString();

            // Verificar si la sala coincide con el filtro
            if (filtroPuntos === 'todos' || puntosSala === filtroPuntos) {
                sala.style.display = 'flex';  // Mostrar la sala
            } else {
                sala.style.display = 'none';  // Ocultar la sala
            }
        });
    }

    // ESTADISTICAS
    function toggleContent(tab) {
        // Ocultar ambos contenidos
        var estadisticasContent = document.getElementById('estadisticas');
        var ultimasPartidasContent = document.getElementById('ultimas-partidas');
        var estadisticasHeader = document.getElementById('estadisticas-header');
        var ultimasPartidasHeader = document.getElementById('ultimas-partidas-header');

        // Alternar entre las pestañas
        if (tab === 'estadisticas') {
            estadisticasContent.classList.add('visible');
            ultimasPartidasContent.classList.remove('visible');
            estadisticasHeader.classList.add('active');
            ultimasPartidasHeader.classList.remove('active');
        } else if (tab === 'ultimas-partidas') {
            ultimasPartidasContent.classList.add('visible');
            estadisticasContent.classList.remove('visible');
            ultimasPartidasHeader.classList.add('active');
            estadisticasHeader.classList.remove('active');
        }
    }

    /* TOP DE JUGADORES */
    document.addEventListener('DOMContentLoaded', () => {
        const jugadoresContainer = document.querySelectorAll('.jugador');
        const jugadores = Array.from(jugadoresContainer);

        // Ordenar jugadores por victorias en orden descendente
        jugadores.sort((a, b) => {
            const victoriasA = parseInt(a.querySelector('.victorias').textContent.trim(), 10);
            const victoriasB = parseInt(b.querySelector('.victorias').textContent.trim(), 10);
            return victoriasB - victoriasA;
        });

        // Limitar a los primeros 5 jugadores
        const container = document.querySelector('.top-jugadores');
        container.innerHTML = ''; // Limpiar contenedor

        jugadores.slice(0, 5).forEach(jugador => {
            container.appendChild(jugador);
        });
    });
</script>
</body>
</html>