<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Truco - Partida</title>
    <link rel="stylesheet" th:href="@{/css/partida-truco.css}"/>
</head>
<body>
    <header>
        <h1 class="texto-bienvenida">PARTIDA DE TRUCO</h1>
        <div class="imagenes">
            <img th:src="@{/img/logos/javalogo.webp}" class="headerImage"/>
            <img th:src="@{/img/logos/springlogo.svg}" class="headerImage"/>
            <div class="division"></div>
            <div><img th:src="@{/img/logos/unlamsinfondo.svg}" class="headerImage"/></div>
        </div>
    </header>

    <main>
        <h3 th:text="${Jugador2 != null ? 'Tu contrincante es ' + Jugador2.nombre : 'Esperando Rival...'}"></h3>

        <div id="mesa">
                <div id="cartas-contrincante">
                    <ul class="disposicion-cartas" style="list-style-type: none;">
                        <li th:each="carta : ${cartasJugador2}">
                            <img th:src="@{${carta.img}}" alt="Carta" />
                        </li>
                    </ul>
                </div>

                <div id="cartas-en-juego">
                    <a th:href="@{/comenzar-partida-truco}">
                        <img id="mazo"  th:src="@{/img/cartas-truco/mazo2.png}" alt="Mazo de Cartas">
                    </a>
                    <img id="cartaRival" th:src="@{/img/cartas-truco/Carta_Atras.png}" alt="Carta Jugada Rival">
                    <img  id="miCarta" th:src="@{/img/cartas-truco/Carta_Atras.png}" alt="Mi Carta Jugada">
                </div>

                <div id="mis-cartas">
                    <ul class="disposicion-cartas" style="list-style-type: none;">
                        <li th:each="carta : ${cartasJugador1}">
                            <img th:src="@{${carta.img}}" alt="Carta" th:attr="data-id=${carta.id}"  class="carta" onclick="seleccionarCarta(this)" />
                        </li>
                    </ul>
                </div>

                <form>
                    <input type="hidden" name="cartaSeleccionada" id="cartaSeleccionada"/>
                    <div id="botones" th:if="${partidaIniciada} == true">
                        <button > Tirar carta</button>
                        <button> Envido</button>
                        <button> Tanto</button>
                        <button> Irme al mazo</button>
                    </div>
                </form>

        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 UNLAM. Todos los derechos reservados.</p>
            <div class="footer-alumnos">
                <p>Lucas Gavagnin |  </p>
                <p>Gonzalo Ramos |  </p>
                <p>Martin Zaccardo |  </p>
                <p>Franco Vargas | </p>
                <p>Victoria Croce </p>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const cartas = document.querySelectorAll('.carta');
            const cartaSeleccionadaInput = document.getElementById('cartaSeleccionada');

            cartas.forEach(carta => {
                carta.addEventListener('click', () => {
                    /* Al hacer click en una carta, se borra el estilo en las demas
                    * y se aplica solo a la que seleccioné */
                    cartas.forEach(c => c.classList.remove('carta-seleccionada'));
                    carta.classList.add('carta-seleccionada');

                    const cartaId = carta.getAttribute('data-id');
                    // Asignar el ID al input oculto
                    cartaSeleccionadaInput.value = cartaId;
                })
            })
        })
    </script>
</body>
</html>