<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Truco - Partida</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- Estilos generales -->
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <!-- Estilos custom -->
    <link rel="stylesheet" th:href="@{/css/partida-truco.css}"/>
</head>
<body>
<header>
    <h1 class="texto-bienvenida">PARTIDA DE TRUCO</h1>
    <div class="imagenes">
        <img th:src="@{/img/logos/javalogo.webp}" class="headerImage"/>
        <img th:src="@{/img/logos/springlogo.svg}" class="headerImage"/>
        <div class="division"></div>
        <div><img th:src="@{/img/logos/unlamsinfondo.svg}" class="headerImage"/></div>
    </div>
    <div>
        <a th:href="@{/home}">Volver al menu</a>
    </div>
</header>

<main>
    <h3 th:if="${partida != null}" th:text="${partida.puedeEmpezar ? 'Listos' : 'Falta un jugador'}"></h3>
    <div id="mesa" class="gap-2">
        <!-- OPONENTE -->
        <div id="cartas-contrincante" class="gap-1 order-0">
            <!--  OPONENTE CARTAS  -->
            <div class="gap-2 cartasJugadorContainer col-4">
                <!--  OPONENTE CARTAS -->
                <th:block th:each="carta : ${cartasOponente}">
                    <a class="cartaTirarBtn">
                        <img th:src="@{/img/cartaAlReves.png}" alt="Carta" class="carta"/>
                    </a>
                </th:block>
            </div>
        </div>

        <!-- MESA CENTRAL -->
        <div id="cartas-en-juego" class="d-flex flex-wrap order-1">
            <!-- MAZO -->
            <div th:if="${partidaIniciada != null && partidaIniciada}" class="col-4 bor1">
                <a th:href="@{/comenzar-truco(idPartida= ${idPartida})}" th:if="${ganador == null}" class="w-100">
                    <img class="mazo" th:src="@{/img/cartas-truco/mazo2.png}" alt="Mazo de Cartas">
                </a>
                <a th:if="${ganador != null}" class="w-100">
                    <img class="mazo" th:src="@{/img/cartas-truco/mazo2.png}" alt="Mazo de Cartas">
                </a>
            </div>
            <!-- CARTAS TIRADAS -->
            <div class="col-4 cartasTiradasContainer" th:if="${mano != null}">
                <div class="oponenteCartas">
                    <!-- CARTAS OPONENTE TIRADAS -->
                    <div th:each="carta, iterStat : ${cartasOponenteTiradas}"
                         th:if="${cartasOponenteTiradas != null}"
                         th:class="'carta espacio-' + ${iterStat.index + 1}">
                        <img th:src="@{${carta.img}}"
                             alt="Carta"
                             class="cartaTirada"/>
                    </div>
                </div>
                <!-- MIS CARTAS TIRADAS -->
                <div class="misCartas">
                    <div th:each="carta, iterStat : ${misCartasTiradas}"
                         th:if="${misCartasTiradas != null}"
                         th:class="'carta espacio-' + ${iterStat.index + 1}">
                        <img th:src="@{${carta.img}}"
                             alt="Carta"
                             class="cartaTirada"/>
                    </div>
                </div>
            </div>
            <!-- INFORMACION  -->
            <div class="col-4 d-flex flex-column justify-content-center align-items-center">

                <div th:if="${partida != null}">
                    <p class="text-warning" th:if="${partida.getJ1() == null || partida.getJ2() == null}"
                       th:text="${'Falta un jugador'}"></p>
                </div>

                <div th:if="${ganador != null}" class="d-flex flex-column justify-content-center align-items-center">
                    <p>Ganó <strong th:text="${ganador.getNombre()}"></strong>!</p>
                    <a class="btn btn-danger"
                       th:href="@{/salir(mano=${mano.id})}">Salir</a>
                </div>

                <div th:if="${ganador == null}">
                    <p th:if="${misPuntos != null && yo != null}"
                       th:text="${'(yo): ' + yo.nombre + ' ' + misPuntos}"></p>
                    <p th:if="${puntosRival != null && rival != null}"
                       th:text="${'(rival): ' + rival.nombre + ' ' + puntosRival}"></p>
                    <p th:if="${tiraAhora != null}"
                       th:text="'Turno de jugador ' + ${tiraAhora.getNombre()}"></p>
                    <p th:if="${partida != null}"
                       th:text="'Partida a  ' + ${partida.getPuntosParaGanar() +  ' puntos'}"></p>
                    <a th:if="${seTermino}"
                       class="btn btn-danger"
                       th:text="'Jugar otra mano'"
                       th:href="@{/cambiar-mano}"></a>
                </div>

            </div>
        </div>
        <!-- MIS COSAS -->
        <div id="cartas_jugador" class="order-2 gap-1">
            <!--BOTONERA -->
            <div class="d-flex flex-wrap gap-1 col-12 justify-content-center"
                 th:if="${partidaIniciada != null}">
                <!-- NORMALES -->
                <div th:if="${respondoYo}" class="d-flex gap-2">
                    <a class="btn btn-primary"
                       th:each="accion : ${accionesNormales}"
                       th:href="@{/accion(mano=${mano.id}, accion=${accion.nro}, jugador=${miNumero})}"
                       th:text="${accion.texto}">
                    </a>
                </div>
                <!-- RESPUESTA ENVIDO -->
                <div th:if="${respondoYo && respondoEnvido}" class="d-flex gap-2">
                    <a class="btn btn-warning"
                       th:each="accion : ${accionesEnvido}"
                       th:href="@{/respuesta(mano=${mano.getId()}, respuesta=${accion.nro}, accion=${accionAResponder}, jugador=${miNumero})}"
                       th:text="${accion.texto}">
                    </a>
                </div>
                <!-- RESPUESTAS TRUCO -->
                <div th:if="${respondoYo && respondoTruco}" class="d-flex gap-2">
                    <a class="btn btn-danger"
                       th:each="accion : ${accionesTruco}"
                       th:href="@{/respuesta(mano=${mano.getId()}, respuesta=${accion.nro}, accion=${accionAResponder}, jugador=${miNumero})}"
                       th:text="${accion.texto}">
                    </a>
                </div>

            </div>
            <!--  MIS CARTAS -->
            <div class="gap-2 cartasJugadorContainer col-4">
                <th:block th:each="carta : ${misCartas}" th:if="${meTocaTirar}">
                    <a th:href="@{/accion-tirar(cartaId=${carta.id}, manoId=${mano.id}, nroJugador=${miNumero})}"
                       class="cartaTirarBtn">
                        <img th:src="@{${carta.img}}" alt="Carta" th:attr="data-id=${carta.id}" class="carta"/>
                    </a>
                </th:block>
                <th:block th:each="carta : ${misCartas}" th:if="${!meTocaTirar}">
                    <img th:src="@{${carta.img}}" alt="Carta" class="carta cursorNegado"/>
                </th:block>
            </div>
        </div>
    </div>
    <p th:if="${jugador1 != null}" th:text="${jugador1}"></p>
    <p th:if="${jugador2 != null}" th:text="${jugador2}"></p>
    <p th:if="${partida != null}" th:text="${partida}"></p>
</main>

<!-- Footer -->
<footer>
    <div class="footer-container">
        <p>&copy; 2024 UNLAM. Todos los derechos reservados.</p>
        <div class="footer-alumnos">
            <p>Lucas Gavagnin | </p>
            <p>Gonzalo Ramos | </p>
            <p>Martin Zaccardo | </p>
            <p>Franco Vargas | </p>
            <p>Victoria Croce </p>
        </div>
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const cartas = document.querySelectorAll('.carta');
        const cartaSeleccionadaInput = document.getElementById('cartaSeleccionada');

        cartas.forEach(carta => {
            carta.addEventListener('click', () => {
                /* Al hacer click en una carta, se borra el estilo en las demas
                * y se aplica solo a la que seleccioné */
                cartas.forEach(c => c.classList.remove('carta-seleccionada'));
                carta.classList.add('carta-seleccionada');

                const cartaId = carta.getAttribute('data-id');
                // Asignar el ID al input oculto
                cartaSeleccionadaInput.value = cartaId;
            })
        })
    })

</script>
<script>
    function mostrarPopUp(mensaje) {
        // Crear un contenedor para el pop-up
        let popup = document.createElement('div');
        popup.style.position = 'fixed';
        popup.style.top = '50%';
        popup.style.left = '50%';
        popup.style.transform = 'translate(-50%, -50%)';
        popup.style.backgroundColor = 'white';
        popup.style.border = '2px solid black';
        popup.style.padding = '20px';
        popup.style.zIndex = '1000';
        popup.style.boxShadow = '0px 4px 6px rgba(0,0,0,0.1)';

        // Crear el mensaje
        let mensajeElement = document.createElement('p');
        mensajeElement.textContent = mensaje;
        popup.appendChild(mensajeElement);

        // Botón para cerrar el pop-up
        let botonCerrar = document.createElement('button');
        botonCerrar.textContent = 'Cerrar';
        botonCerrar.onclick = () => popup.remove();
        popup.appendChild(botonCerrar);

        // Agregar el pop-up al cuerpo del documento
        document.body.appendChild(popup);
    }
</script>
</body>
</html>
