<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- Estilo custom -->
    <link rel="stylesheet" th:href="@{/css/perfil.css}"/>
    <!-- FONT FAMILIES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Edu+AU+VIC+WA+NT+Arrows:wght@700&family=Kaushan+Script&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <title>Editar perfil</title>
</head>
<body>
<header class="col-12 py-3 d-flex align-items-center">
    <nav class="col-10 mx-auto d-flex flex-wrap justify-content-between align-items-center text-white">
        <a class="text-decoration-none fs-4 text-white" th:href="@{/home}">
            Home
        </a>
        <p class="fs-4 m-0">
            Perfil
        </p>
        <a th:href="@{/modificar-perfil}"
           class="text-decoration-none text-white fs-5 settingsImageContainer">
            <img id="configuracion" alt="Configuracion" th:src="@{/img/configuracion.png}"/>
        </a>
    </nav>
</header>
<main class="col-12 d-flex flex-column align-items-center">
    <div class="col-12 col-md-10 userData">
        <div class="col-12 position-relative userHeader d-flex justify-content-center">
            <div class="col-12 imgStyle bg-dark position-relative"></div>
            <div class="rounded-circle position-absolute p-5 userImage"></div>
        </div>

        <div class="col-12 d-flex flex-column justify-content-center align-items-center text-white py-2">
            <p class="fs-3 fw-semibold m-0" th:text="${usuario.getNombreUsuario()}"></p>
            <p th:text="${usuario.getEmail()}"></p>
        </div>
        <div class="px-2 px-md-0 pt-2">
            <div class="gameWrapper col-md-12">
                <!--  ESTADISTICAS  -->
                <div class="gameInfo bg-black text-white" th:each="estadistica : ${estadisticas}">
                    <div class="gameFirstCol">
                        <div class="rounded-circle p-5 gameImage"></div>
                    </div>
                    <div class="gameSecondCol d-flex flex-column gap-1 justify-content-between p-1">
                        <div class="col-12 d-flex justify-content-between">
                            <p th:text="${estadistica.getJuego()}">Nombre juego</p>
                            <p th:text="${'Ratio: ' + estadistica.getRatio()}">Ratio 777%</p>

                        </div>
                        <div class="progress col-12">
                            <div class="progress-bar" role="progressbar"
                                 th:style="'width:' + ${estadistica.getProgresoNivel()} + '%;'"
                                 th:text="${estadistica.getProgresoNivel() + '%'}">
                            </div>
                        </div>
                        <div class="col-12 d-flex flex-wrap justify-content-between">
                            <p th:text="${estadistica.calcularNivel()}">Nivel</p>
                            <div class="d-flex flex-wrap gap-2">
                                <p th:text="${'Jugadas: ' + estadistica.getJugadas()}">Partidas: 777</p>
                                <p th:text="${'Ganadas: ' + estadistica.getGanadas()}">Ganadas: -777</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="relative bg-blueGray-200 pt-8 pb-6">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <h4 class="text-3xl font-semibold text-blueGray-700">¡Sigamos en contacto!</h4>
                <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
                    las mejores partidas comienzan con una buena estrategia y terminan con grandes recuerdos.
                </h5>
                <div class="mt-6 lg:mb-0 mb-6 social-buttons">
                    <button class="social-button twitter" type="button">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button class="social-button facebook" type="button">
                        <i class="fab fa-facebook-square"></i>
                    </button>
                    <button class="social-button dribbble" type="button">
                        <i class="fab fa-dribbble"></i>
                    </button>
                    <button class="social-button github" type="button">
                        <i class="fab fa-github"></i>
                    </button>
                </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6">
                    <div class="w-full lg:w-4/12 px-4 ml-auto">
                        <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Miembros</span>
                        <ul class="list-unstyled">
                            <li><a class="link" href="">Ramos Gonzalo</a></li>
                            <li><a class="link" href="">Croce Victoria</a></li>
                            <li><a class="link" href="">Zaccardo Martín</a></li>
                            <li><a class="link" href="">Gavagnin Lucas</a></li>
                        </ul>
                    </div>
                    <div class="w-full lg:w-4/12 px-4">
                        <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Enlaces</span>
                        <ul class="list-unstyled">
                            <li><a class="link" href="">Preguntas Frecuentes</a></li>
                            <li><a class="link" href="">Terminos & Condiciones</a></li>
                            <li><a class="link" href="">Política de Privacidad</a></li>
                            <li><a class="link" href="">Contactanos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-blueGray-300">
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div class="text-sm text-blueGray-500 font-semibold py-1">
                    Copyright © <span id="get-current-year">2024</span>
                    <a href="" class="text-blueGray-500 hover:text-gray-800" target="_blank">
                        Trucoteca.
                    </a>
                    <a href="" class="text-blueGray-500 hover:text-blueGray-800">Los Maestros Del Mazo</a>.
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>