<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/perfilUsuario.css}"/>

</head>
<body>
<main class="col-12 d-flex flex-column align-items-center">
    <header class="col-12 py-3">
        <div class="col-10 mx-auto d-flex flex-wrap justify-content-between align-items-center text-white">
            <a href="#">
                Volver
            </a>
            <p>
                Perfil
            </p>
            <a href="#">
                Ajustes
            </a>
        </div>
    </header>
    <div class="col-12 col-md-10 pt-md-3 userData">
        <div class="col-12 position-relative userHeader d-flex justify-content-center">
            <div class="col-12 imgStyle bg-dark position-relative"></div>
            <div class="rounded-circle position-absolute p-5 userImage"></div>
        </div>
        <div class="col-12 d-flex flex-column justify-content-center align-items-center text-white py-2">
            <p class="fs-3 fw-semibold m-0">John Doe</p>
            <p>JohnDoe123</p>
        </div>
        <div class="px-2 px-md-0 pt-2">
            <div class="gameWrapper col-md-12">
                <div class="gameInfo bg-black text-white">
                    <div class="gameFirstCol">
                        <div class="rounded-circle p-5 gameImage"></div>
                    </div>
                    <div class="gameSecondCol d-flex flex-column gap-1 justify-content-between p-1">
                        <div class="col-12 d-flex justify-content-between">
                            <p>Nombre juego</p>
                            <p>Nivel 777</p>
                        </div>
                        <div class="col-12 progressBar px-2">
                            Barra de progreso
                        </div>
                        <div class="col-12 d-flex flex-wrap justify-content-between">
                            <p>Rockie</p>
                            <div class="d-flex flex-wrap gap-2">
                                <p>Partidas: 500</p>
                                <p>Ganadas: 0</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gameInfo bg-black text-white">
                    <div class="gameFirstCol">
                        <div class="rounded-circle p-5 gameImage"></div>
                    </div>
                    <div class="gameSecondCol d-flex flex-column gap-1 justify-content-between p-1">
                        <div class="col-12 d-flex justify-content-between">
                            <p>Nombre juego</p>
                            <p>Nivel 777</p>
                        </div>
                        <div class="col-12 progressBar px-2">
                            Barra de progreso
                        </div>
                        <div class="col-12 d-flex flex-wrap justify-content-between">
                            <p>Rockie</p>
                            <div class="d-flex flex-wrap gap-2">
                                <p>Partidas: 500</p>
                                <p>Ganadas: 0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>